@model VideoShare.ViewModels.VideoListViewModel


<div class="container-fluid pb-video-container">
    <div class="col-md-10 offset-md-1">
        <h3 class="text-xs-center">All videos</h3>
        <div class="row pb-row">
            @foreach (var video in Model.AllVideos)
            {
                <div class="col-md-3 pb-video">

                    <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/@video.Video_Link" frameborder="0" allowfullscreen></iframe>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" data-id="@video.Id" class="DislikeBtn glyphicon glyphicon-thumbs-down">@video.Video_Details.Where(m => m.Dislike == true).Count()</button>
                        <button type="button" data-id="@video.Id" class="LikeBtn glyphicon glyphicon-thumbs-up">@video.Video_Details.Where(m => m.Like == true).Count()</button>
                        <button type="button" data-id="@video.Id" class="glyphicon glyphicon-facetime-video">@video.ViewCount</button>
                        <h6><a href="@Url.Action("Details", "Home", new { ID = video.Id })">Detail</a></h6>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<style>
    .pb-video-container {
        padding-top: 20px;
        background: #bdc3c7;
        font-family: Lato;
    }

    .pb-video {
        border: 1px solid #e6e6e6;
        padding: 5px;
    }

        .pb-video:hover {
            background: #2c3e50;
        }

    .pb-video-frame {
        transition: width 2s, height 2s;
    }

        .pb-video-frame:hover {
            height: 300px;
        }

    .pb-row {
        margin-bottom: 10px;
    }
</style>


<script>

    $(".LikeBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("Like", "Video")",
            data: { Id: $(this).attr('data-id') }

        })
        .done(function (response) {
            if (response.code === 1) {
                alert('You need to login first');
                window.location.href = "@Url.Action("Login","Account")";
            }
            else {
                alert(response.message);
                ReloadTable()
            }


         })
         .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
         });


    });
    $(".DislikeBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("DisLike", "Video")",
            data: { Id: $(this).attr('data-id') }

        })
        .done(function (response) {
             if (response.code === 1) {
                alert('You need to login first');
                window.location.href = "@Url.Action("Login","Account")";
            }
            else {
                alert(response.message);
                ReloadTable()
            }

         })
         .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
         });


    });
    function ReloadTable() {
        $.ajax({

            url:'@Url.Action("Index","Home")',
            method:'GET',

        })
           .done(function (response) {


               $("#tableContainer").html(response);


           })
           .fail(function (XMLHttpRequest, textStatus, errorThrown) {
               alert("FAIL");
           });

    }
</script>

